{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-md-8">
            {% if messages %}
                {% for msg in messages %}
                    <span {% if msg.tags %} class="text-{{ msg.tags }}" {% endif %}>{{ msg }}</span>
                {% endfor %}
            {% endif %}
            <div class="card">
                <form action="{% url 'updateUserProfile' %}" method="POST">
                    {% csrf_token %}
                    <div class="card-header">
                        <h5 class="title">Edit Profile</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    {{ user_form.first_name }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    {{ user_form.last_name }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>Sex</label>
                                    {{ account_form.sex }}
                                </div>
                            </div>
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">

                                    <label>Phone Number</label>
                                    {{ account_form.phone_number }}
                                </div>
                            </div>
                        </div>

                        <div class="row profile-span">
                            <div class="profile-delays-inline">
                                <i class="tim-icons icon-compass-05 pb-1 text-neutral"></i>
                                <span>Delays</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>Timeout</label>
                                    {{ config_form.timeout }}
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Retry</label>
                                    {{ config_form.retry }}
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label>Monitor</label>
                                    {{ config_form.monitor }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    <i class="tim-icons icon-chat-33 pb-1 text-neutral"></i>
                                    Webhook
                                </label>
                                {{ config_form.webhook }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    <i class="tim-icons icon-molecule-40 pb-1 text-neutral"></i>
                                    AutoSolve
                                </label>
                                {{ config_form.auto_solve }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-info">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="javascript:void(0)">

                            <form action="{% url 'updateProfilePicture' %}" method="post"
                                  enctype="multipart/form-data"
                                  id="form_picture">
                                {% csrf_token %}
                                <div class="image-upload">
                                    <label for="id_picture">
                                        {% if user.picture.picture %}
                                            <img src="{{ user.picture.picture.url }}" class="avatar" alt="no_image"/>
                                        {% else %}
                                            <img src="/static/assets/img/default-avatar.png" class="avatar"
                                                 alt="no_image"/>
                                        {% endif %}
                                    </label>
                                    {{ picture_form.picture }}
                                </div>
                            </form>

                            <h5 class="title zero-margin-bottom">
                                {{ user.first_name }}
                                {{ user.last_name }}
                            </h5>
                            <h5>
                                ({{ user.username }})
                            </h5>
                        </a>
                        <div>

                            <p class="description">
                                {{ user.email }}
                            </p>
                            <h6 class="description">
                                Expires
                                {{ user.account.expiry_date }}
                            </h6>
                        </div>
                    </div>
                    </p>
                    <div class="card-description">
                    </div>
                </div>
                <div class="card-footer">
                    <div class="button-container">
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                            <i class="fab fa-google-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
        $('#id_picture').change(function () {
            $('#form_picture').submit()
        });
    </script>
{% endblock javascripts %}
