{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    {% load static %}

    <link href="{% static 'assets/css/landing-page/landing-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/landing-page/icon-font.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/landing-page/aos.css' %}" rel="stylesheet"/>
    <style media="all" id="fa-main"></style>

    <div onload="onload()" class="landing-background">

        <div class="main">
            <nav class="nav-content aos-init aos-animate" data-aos="fade-in">
                {% if not request.user.is_authenticated %}
                    <div class="nav-logo"><img src="{% static 'assets/img/favicon.png' %}" height="40"></div>
                {% endif %}
                <div class="nav-main" id="nav-main">
                    <div class="nav-main-item"><a href="#features">Footlocker</a></div>
                    {% if request.user.is_authenticated %}
                        <div class="nav-main-item"><a href="https://discord.gg/wUmYCX2t" target="_blank">Discord</a>
                        </div>
                    {% endif %}
                    <div class="nav-main-item"><a href="#contact">Help</a></div>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="nav-main-item nav-main2"><a href="{{ 'tasks' }}"
                                                            class="nav-main-item-button"><span>Dashboard</span></a>
                    </div>
                {% endif %}
            </nav>
            <header>
                <div class="header-content">
                    <div class="header-text aos-init aos-animate" data-aos="fade-in">
                        <div class="header-text-primary">
                            <span>The <span class="header-text-primary-bold">Fastest</span> AIO Bot</span>
                        </div>
                        <div class="header-text-secondary"><span> Taking stock has never so easy with ChurchAIO. Supporting AU Footsites, Ensuring quality. </span>
                        </div>
                        {% if not request.user.is_authenticated %}
                            <button class="btn btn-round btn-info" type="button"
                                    id="checkout-button">Get New For $300
                            </button>
                            {% csrf_token %}
                            {% include 'includes/churchaio/stripe_script.html' %}

                            <div class="header-text-secondary"><span> Already have the bot in your bucket?</span>
                            </div>
                            <a href="login" class="btn btn-round btn-success" type="button"
                               id="login-btn">
                                Login
                            </a>
                        {% else %}
                            <div class="header-text-secondary"><span> Join ChurchAIO on discord</span> <img
                                    src="{% static 'assets/img/icons-discord.svg' %}" alt="discord" width="30"
                                    height="30">
                            </div>
                            <a href="https://discord.gg/wUmYCX2t" target="_blank" class="btn btn-round btn-success"
                               type="button"
                               id="login-btn">
                                Join
                            </a>
                        {% endif %}

                    </div>
                    <img class="header-image aos-init aos-animate" data-aos="fade-up"
                         src="{% static 'assets/img/CyberAIO.webp' %}">
                </div>
            </header>
        </div>
        <section id="features">
            <div class="features-content">
                <div class="section-break aos-init aos-animate" data-aos="fade-in"></div>
                <div class="section-text">
                    <span>Designed with Strong Features</span>
                </div>
                <div class="section-subtext"><span> Our team have worked hard to ensure that ChurchAIO runs at optimum performance with the ability to run unlimited tasks smoothly and efficiently </span>
                </div>
                <div class="features-main aos-init aos-animate" data-aos="fade-up">
                    <div class="features-main-card">
                        <div class="features-main-card-icon"><i class="tim-icons icon-atom"></i></div>
                        <div class="features-main-card-text">
                            <div class="features-main-card-text-primary"><span>Blazing Fast</span></div>
                            <span class="features-main-card-text-secondary"> Multi-threaded designed for lighting speed and experience </span>
                        </div>
                    </div>
                    <div class="features-main-card">
                        <div class="features-main-card-icon"><i class="tim-icons icon-bullet-list-67"></i></div>
                        <div class="features-main-card-text">
                            <div class="features-main-card-text-primary"><span>Unlimited Tasks</span></div>
                            <span class="features-main-card-text-secondary">Run as many tasks as required. We ensure efficiency</span>
                        </div>
                    </div>
                    <div class="features-main-card">
                        <div class="features-main-card-icon"><i class="tim-icons icon-molecule-40"></i></div>
                        <div class="features-main-card-text">
                            <div class="features-main-card-text-primary"><span>Captcha Solver</span></div>
                            <span class="features-main-card-text-secondary">3rd party API Key supported for mid-drop captcha</span>
                        </div>
                    </div>
                    <div class="features-main-card">
                        <div class="features-main-card-icon"><i class="tim-icons icon-mobile"></i></div>
                        <div class="features-main-card-text">
                            <div class="features-main-card-text-primary"><span>Mobile Phone Supported</span></div>
                            <span class="features-main-card-text-secondary">Use it on your mobile phone just like your desktop browser</span>
                        </div>
                    </div>
                    <div class="features-main-card">
                        <div class="features-main-card-icon"><span class="lnr lnr-moustache"></span></div>
                        <div class="features-main-card-text">
                            <div class="features-main-card-text-primary"><span>Support</span></div>
                            <span class="features-main-card-text-secondary">24/7 Support by email</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="mobile">
            <div class="app-content">
                <div class="section-break aos-init aos-animate" data-aos="fade-in"></div>
                <div class="section-text">
                    <span>Built for Mobile</span>
                </div>
                <div class="section-subtext"><span> Rest assured you can take your bot on the go to hit those drops anywhere you are in the world at any time </span>
                </div>
            </div>
        </section>

        <footer data-aos="fade-in" class="aos-init aos-animate" id="contact">
            <div class="footer-content">
                <div class="footer-main">
                    <div class="footer-main-section">
                        <div class="footer-main-section-text-primary"><span>Payments Accepted</span></div>
                        <div class="footer-section-break aos-init aos-animate" data-aos="fade-in"></div>
                        <div class="footer-main-section-text-secondary"><a style="color: rgba(255, 255, 255, 0.65)"
                                                                           href="https://stripe.com/">Credit
                            Cards</a>
                        </div>
                    </div>
                    <div class="footer-main-section">
                        <div class="footer-main-section-text-primary"><span>Contact Info</span></div>
                        <div class="footer-section-break aos-init aos-animate" data-aos="fade-in"></div>
                        <div class="footer-main-section-text-secondary"><a style="color: rgba(255, 255, 255, 0.65)"
                                                                           href="mailto:help.churchaio@gmail.com">help.churchaio@gmail.com</a>
                        </div>
                    </div>
                    <div class="footer-main-section">
                        <div class="footer-main-section-text-primary"><span>Links</span></div>
                        <div class="footer-section-break aos-init aos-animate" data-aos="fade-in"></div>
                        <div class="footer-main-section-text-secondary"><a style="color: rgba(255, 255, 255, 0.65)"
                                                                           href="">Terms &amp;
                            Conditions</a></div>
                        <div class="footer-main-section-text-secondary"><a style="color: rgba(255, 255, 255, 0.65)"
                                                                           href="">Privacy
                            Policy</a></div>
                    </div>
                    <div class="footer-main-section">
                        <div class="footer-main-section-text-primary"><span>Stay Updated</span></div>
                        <div class="footer-section-break aos-init aos-animate" data-aos="fade-in"></div>
                        <div class="footer-main-section-icon">
                            <a href="https://twitter.com/"> <i style="color: rgba(255, 255, 255, 0.65)"
                                                               class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://instagram.com/"> <i style="color: rgba(255, 255, 255, 0.65)"
                                                                 class="fab fa-instagram"
                                                                 aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="footer-text">
                    <div class="footer-text-primary">
                        <span>ChurchAIO Ltd | Copyright 2021 | All rights reserved</span>
                    </div>
                    <div class="footer-text-secondary"><span> This software you have across has been built and designed to increase your chances of being able to purchase limited-edition sneakers and clothing from AU Footsites. Please be advised we do not guarantee your purchases of our listed Footsites, but we do guarantee your chances are grammatically increased. By purchasing Footsites, you are accepting the terms and conditions. </span>
                    </div>
                    <br>
                </div>
            </div>
        </footer>
    </div>
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-142712156-1');
    </script>

    <script type="text/javascript">
        AOS.init({
            once: true,
            duration: 1000
        });
        let navMain = document.getElementById('nav-main');
        let navToggle = document.getElementById('nav-toggle');
        navToggle.addEventListener('click', function () {
            navMain.classList.toggle('nav-active');
        });

        function onload() {
            document.getElementById("loader").classList.add("hide");
            setTimeout(() => document.getElementById("loader").remove(), 500);
        }
    </script>
    <script defer="" src="./Cybersole_files/beacon.min.js"
            data-cf-beacon="{&quot;rayId&quot;:&quot;6891a1ad6ec8ca80&quot;,&quot;token&quot;:&quot;1cdd031106bb40c4b954a1551d6cb3e4&quot;,&quot;version&quot;:&quot;2021.8.1&quot;,&quot;si&quot;:10}"></script>

{% endblock javascripts %}
