{% extends "layouts/base.html" %}

{% block title %} Tasks {% endblock %}

{% block content %}
    <div class="card ">
        <div class="card-header">
            <h4 class="card-title"> Tasks ({{ count }} Total) </h4>
            <h6 class="card-category">
                {% if messages %}
                    {% for msg in messages %}
                        <span {% if msg.tags %} class="text-{{ msg.tags }}" {% endif %}>{{ msg }}</span>
                    {% endfor %}
                {% endif %}
            </h6>
        </div>

        <div class="d-flex ml-md-2 justify-content-between mr-md-2">
            <div>
                <button type="button" name="addtask"
                        class="btn btn-sm border-bottom border-success small-font small-width" data-toggle="modal"
                        data-target="#add-tasks">
                    <i class="tim-icons icon-simple-add small pb-1 pr-1 text-success"></i>
                    Create Tasks
                </button>
                <button type="button" name="cleartasks"
                        class="btn btn-sm border-bottom border-danger small-font small-width"
                        data-toggle="modal" data-target="#clearTasks">
                    <i class="tim-icons icon-trash-simple small pb-1 pr-1 text-danger"></i>
                    Clear Tasks
                </button>
            </div>

            <div>
                <button type="button" name="starttasks"
                        class="btn btn-sm border-bottom border-success small-font small-width"
                        onclick="location.href='{% url 'startAllTasks' %}'">
                    <i class="tim-icons icon-triangle-right-17 small pb-1 pr-1 text-success"></i>
                    Start Tasks
                </button>
                <button type="button" name="login"
                        class="btn btn-sm border-bottom border-danger small-font small-width">
                    <i class="tim-icons icon-button-pause small pb-1 pr-1 text-danger"></i>
                    Stop Tasks
                </button>
            </div>

            {#            <div>#}
            {#                <button type="button" name="edittasks"#}
            {#                        class="btn btn-sm border-bottom border-primary small-font small-width">#}
            {#                    <i class="tim-icons icon-pencil small pb-1 pr-1 text-primary"></i>#}
            {#                    Edit Tasks#}
            {#                </button>#}
            {#                <button type="button" name="captcha"#}
            {#                        class="btn btn-sm border-bottom border-primary small-font small-width">#}
            {#                    <i class="tim-icons icon-support-17 small pb-1 pr-1 text-primary"></i>#}
            {#                    Captcha#}
            {#                </button>#}
            {#            </div>#}

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table tablesorter " id="myTable" data-page-length="25">
                    <thead class=" text-primary">
                    <tr>
                        <th>
                            Store
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Size
                        </th>
                        <th>
                            Profile
                        </th>
                        <th>
                            Proxies
                        </th>
                        <th>
                            Status
                        </th>
                        <th class="text-center">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task, edit_form in edit_tasks_list %}
                        <tr>
                            <td>
                                {{ task.store_name }}
                            </td>
                            <td>
                                <a href="{{ task.sku_link }}">{{ task.sku_link|slice:"35:45" }}</a>
                            </td>
                            <td>
                                {% if task.shoe_size != -1 %} {{ task.shoe_size }} {% else %} {{ 'Random' }} {% endif %}
                            </td>
                            <td>
                                {{ task.profile }}
                            </td>
                            <td>
                                {{ task.proxy_list }}
                            </td>
                            <td>
                                {{ task.status }}
                            </td>
                            <td class="text-center">
                                <button type="button" name="starttask"
                                        class="btn btn-sm small-font small-width table-icons"
                                        onclick="location.href='{% url 'startTask' task.id %}'">
                                    <i class="tim-icons icon-triangle-right-17 small text-success"></i>
                                </button>
                                <button type="button" name="stoptask"
                                        class="btn btn-sm small-font small-width table-icons"
                                        data-toggle="modal"
                                        data-target="#add-tasks" hidden>
                                    <i class="tim-icons icon-button-pause small text-danger"></i>
                                </button>
                                <button type="button" name="edittask"
                                        class="btn btn-sm small-font small-width table-icons"
                                        data-toggle="modal"
                                        data-target="#edit-task-{{ task.id }}">
                                    <i class="tim-icons icon-pencil small"></i>
                                </button>
                                <form action="{% url 'deleteTask' task.id %}" method="post" class="clear-delete-form">
                                    {% csrf_token %}
                                    <button type="submit" name="deletetask"
                                            class="btn btn-sm small-font small-width table-icons">
                                        <i class="tim-icons icon-trash-simple small text-danger"></i>
                                    </button>
                                </form>
                            </td>

                            <div class="modal fade" id="edit-task-{{ task.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog bg-dark" role="document">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="exampleModalLongTitle">Edit Task</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="{% url 'updateTask' task.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <div class="form text-white-50">

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>Store Name</label>
                                                            {{ edit_form.store_name }}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Shoe Size</label>
                                                            {{ edit_form.shoe_size }}
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label>Sku Link</label>
                                                            {{ edit_form.sku_link }}
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label>Profile</label>
                                                            {{ edit_form.profile }}
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Proxy List</label>
                                                            {{ edit_form.proxy_list }}
                                                        </div>
                                                    </div>

                                                    <div class="form-row" hidden>
                                                        <div class="form-group col-md-6">
                                                            <label>Task Count</label>
                                                            {{ form.task_count }}
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close
                                                </button>
                                                <input type="submit" class="btn btn-info" value="Update">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-tasks" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog bg-dark" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">New Task</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'createTask' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form text-white-50">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Store Name</label>
                                    {{ form.store_name }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Shoe Size</label>
                                    {{ form.shoe_size }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Sku Link</label>
                                    {{ form.sku_link }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Profile</label>
                                    {{ form.profile }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Proxy List</label>
                                    {{ form.proxy_list }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Task Count</label>
                                    {{ form.task_count }}
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-info" value="Create Task">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Clear Tasks Modal -->
    <div class="modal fade" id="clearTasks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog bg-dark" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body align-self-md-center">
                    <h2>Are you sure?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form action="{% url 'clearTasks' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-info">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({});
        });
    </script>
{% endblock javascripts %}

