html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#1f1e2d 750px, #161620 calc(50% + 750px), #1f1e2d 100%);
    color: #fff;
    font-family: Montserrat, sans-serif;
    margin: 0;
    text-decoration: none;
    user-select: none;
    overflow-x: hidden
}

.loading-screen-container {
    height: 100%;
    width: 100%;
    background-color: #1a1922;
    background-image: url(https://cdn.cybersole.io/media/logo.svg?v=2);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    transition: opacity .5s ease-in-out
}

.loading-screen-container.hide {
    opacity: 0
}

.loading-screen-loader {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    animation-name: spin, fade;
    animation-duration: 3s, 3s;
    animation-timing-function: cubic-bezier(.075, .82, .165, 1), linear;
    animation-iteration-count: infinite
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(1110deg)
    }
}

@keyframes fade {
    0%, 100%, 70% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

ul {
    padding-inline-start: 0
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #13131c
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #13131c
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #252537
}

a {
    color: #fff;
    text-decoration: none
}

section {
    padding: 20px
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s linear, opacity .2s linear;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    position: fixed;
    overflow: hidden;
    background-color: rgb(0, 0, 0, .75)
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    background-color: #20202a;
    border-radius: 10px;
    padding: 40px
}

.payment-close {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    color: #aab7c4
}

.payment-image {
    margin-bottom: 40px
}

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #1a1a24
}

.StripeElement--invalid {
    border-color: #fa755a
}

.form-row {
    margin-bottom: 20px
}

.form-row-input {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: 0;
    width: 100%
}

.form-row-input::-webkit-input-placeholder {
    color: #aab7c4
}

.form-actions {
    display: flex;
    justify-content: center;
    width: 100%
}

.form-actions-button {
    -webkit-transition: width 2s, height 4s;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    background-color: #42d97c;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 600px;
    margin-top: 20px;
    outline: 0;
    border: solid #42d97c
}

.main {
    position: relative;
    height: 100%
}

.background {
    width: 100%;
    height: 100vh;
    background-color: #13131c;
    z-index: -1;
    position: absolute
}

.nav-content {
    align-items: center;
    padding: 30px
}

.nav-toggle {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 20px
}

.nav-main {
    display: none;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding-left: 30%;
}

.nav-main-item {
    cursor: pointer;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 15px
}

.nav-active {
    display: block;
    text-align: center
}

.nav-main-item-button {
    cursor: pointer;
    background-color: #252537;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 55px;
    box-shadow: 0 12px 26px rgba(0, 0, 0, .1)
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center
}

.header-text {
    padding: 20px;
    text-align: center;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center
}

.header-button {
    cursor: pointer;
    background-color: #42d97c;
    color: #fff;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    border-radius: 600px;
    margin-top: 40px;
    margin-bottom: 20px;
    outline: 0;
    border: solid #42d97c
}

.header-text-primary {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 50px
}

.header-text-primary-bold {
    font-weight: 600
}

.header-text-secondary {
    font-size: 20px;
    width: 60%;
    color: rgba(255, 255, 255, .65)
}

.header-image {
    box-shadow: 0 12px 26px rgba(0, 0, 0, .4);
    max-width: 80%;
    max-height: 750px;
    width: auto;
    border-radius: 1.5%;
    margin-bottom: 40px
}

.section-break {
    margin-top: 20px;
    border-radius: 50px;
    height: 5px;
    width: 150px;
    background-color: #fff
}

.section-text {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 20px
}

.section-text-bold {
    font-weight: 600
}

.section-subtext {
    margin-top: 10px;
    font-size: 20px;
    width: 60%;
    color: rgba(255, 255, 255, .65)
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.features-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 930px
}

.features-main-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    margin: 10px;
    padding: 20px;
    background-color: #1d1d2a;
    border-radius: 10px;
    box-shadow: 0 12px 26px rgba(0, 0, 0, .4)
}

.features-main-card-icon {
    color: cyan;
    font-size: 50px
}

.features-main-card-text {
    text-align: left;
    margin-left: 20px
}

.features-main-card-text-primary {
    font-weight: 800;
    font-size: 16px
}

.features-main-card-text-secondary {
    font-weight: 300;
    font-size: 13.5px
}

.sitelist-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.sitelist-main {
    display: flex;
    flex-flow: row wrap;
    margin-top: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 930px
}

.sitelist-main-image {
    width: 50%
}

.sitelist-main-text {
    width: 50%;
    text-align: left
}

.sitelist-main-text-primary {
    font-size: 40px;
    margin-bottom: 10px
}

.sitelist-main-text-secondary {
    font-size: 20px;
    color: rgba(255, 255, 255, .65)
}

.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.app-main {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%
}

.app-main-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 340px;
    height: 75px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1d1d2a;
    border-radius: 10px;
    box-shadow: 0 12px 26px rgba(0, 0, 0, .4)
}

.app-main-image {
    margin-left: 40px;
    margin-right: 40px
}

.success-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.success-main {
    display: flex;
    flex-flow: row wrap;
    margin-top: 80px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 930px
}

.success-main-image {
    width: 50%
}

.success-main-text {
    width: calc(50% - 60px);
    text-align: right;
    margin-right: 60px
}

.success-main-text-primary {
    font-size: 40px;
    margin-bottom: 10px
}

.success-main-text-secondary {
    font-size: 20px;
    color: rgba(255, 255, 255, .65)
}

.faq-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.faq-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1030px
}

.faq-main-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 400px;
    height: 80px;
    margin: 20px;
    padding: 20px;
    background-color: #1d1d2a;
    border-radius: 10px;
    box-shadow: 0 12px 26px rgba(0, 0, 0, .4)
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    justify-content: space-between
}

.footer-main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50%
}

.footer-section-break {
    height: 1px;
    width: 90%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, .65)
}

.footer-main-section-text-primary {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px
}

.footer-main-section-text-secondary {
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, .65)
}

.footer-main-section-icon {
    margin-bottom: 10px;
    font-size: 30px;
    color: rgba(255, 255, 255, .65)
}

.footer-text {
    padding-left: 20px;
    padding-right: 20px
}

.footer-text-primary {
    font-size: 16px;
    margin-bottom: 10px
}

.footer-text-secondary {
    font-size: 15px;
    color: rgba(255, 255, 255, .65);
    margin-bottom: 40px
}

@media screen and (min-width: 600px) {
    .nav-content {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .nav-toggle {
        display: none
    }

    .nav-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-end
    }
}

@media screen and (max-width: 600px) {
    .header-image {
        width: 80%
    }

    .header-text {
        padding: 0
    }

    .header-text-primary {
        font-size: 30px
    }

    .header-text-secondary {
        width: 80%;
        font-size: 17.5px
    }

    .header-button {
        margin-top: 20px
    }

    .section-text {
        font-size: 30px
    }

    .section-subtext {
        width: 80%;
        font-size: 17.5px
    }

    .app-main {
        flex-direction: column
    }

    .app-main-card-group {
        display: none
    }

    .app-main-card {
        width: 260px
    }

    .sitelist-main-text-primary {
        font-size: 25px
    }

    .success-main {
        flex-direction: column
    }

    .success-main-text {
        width: 100%;
        text-align: center;
        margin-right: 0
    }

    .success-main-text-primary {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px
    }

    .success-main-text-secondary {
        margin-bottom: 20px
    }

    .success-main-image {
        width: 100%;
        overflow: hidden
    }

    .faq-main-card {
        width: 300px
    }

    .footer-main-section {
        width: 100%
    }
}

@media screen and (min-width: 700px) {
    .main {
        height: 100%
    }
}

@media screen and (max-width: 850px) {
    .background {
        height: 100%
    }
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://cdn.cybersole.io/fonts/montserrat-300.woff2) format('woff2')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://cdn.cybersole.io/fonts/montserrat-500.woff2) format('woff2')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://cdn.cybersole.io/fonts/montserrat-600.woff2) format('woff2')
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://cdn.cybersole.io/fonts/montserrat-800.woff2) format('woff2')
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Circular-Loom';

    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Circular-Loom';

    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Circular-Loom';

    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'Circular-Loom';

    src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
}