.sidebar .logo .logo-text {
    text-transform: uppercase;
    padding: 0 4px 0 0;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    line-height: 30px;
    overflow: hidden;
}

.table-icons {
    padding: 0px 10px 5px 10px;
    background: inherit;
}

.clear-delete-form {
    display: inline;
}

.profile-left-margin {
    margin-left: 15px;
}

.profile-right-margin {
    margin-right: 25px;
}

.signup-card-body {
    padding: 25px 25px 0 !important;
}

.zero-margin-bottom {
    margin-bottom: 0;
}

.profile-span {
    color: rgba(255, 255, 255, 0.6);
}

.profile-delays-inline {
    margin-left: 15px;
}

.image-upload>input {
  display: none;
}

.custom-options {
    background-color: #212529 !important;
}

.li-text-align {
    text-align: right;
}