.sidebar .logo .logo-text {
    text-transform: uppercase;
    padding: 0 4px 0 0;
    white-space: nowrap;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    line-height: 30px;
    overflow: hidden;
}

.table-icons {
    padding: 0px 10px 5px 10px;
    background: inherit;
}

.clear-delete-form {
    display: inline;
}

.profile-left-margin {
    margin-left: 15px;
}

.profile-right-margin {
    margin-right: 25px;
}

.signup-card-body {
    padding: 25px 25px 0 !important;
}

.zero-margin-bottom {
    margin-bottom: 0;
}

.profile-span {
    color: rgba(255, 255, 255, 0.6);
}

.profile-delays-inline {
    margin-left: 15px;
}

.image-upload > input {
    display: none;
}

.custom-options {
    background-color: #212529 !important;
}

.li-text-align {
    text-align: right;
}

.proxy-area {
    max-height: 100% !important;
}

.proxy-dropdown {
    width: 100% !important;
    float: right;
    background-color: #0a0c0d !important;
}

.banner-success {
    color: wheat;
    font-style: oblique;
    border-radius: 5px;
    background-size: 210% 210%;
    background: #00f2c3 linear-gradient(to bottom left, cornflowerblue, #0098f0, #00f2c3) top right;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
}

.banner-fail {
    color: white;
    font-style: oblique;
    border-radius: 5px;
    background-size: 210% 210%;
    background: #fd5d93 linear-gradient(to bottom left, #fd5d93, #ec250d, #fd5d93) top right;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
}

.subscript_btn {
    text-transform: capitalize;
    font-variant: small-caps;
}

.display-none{
    display: none;
}
